<footer id="myfooter">
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="footer-block">
    <p>Contact Me</p>
    <p>
        <i class="fa fa-phone" ></i>&nbsp;{{phone}}
    </p>
    <p>
        <i class="fa fa-envelope-o " ></i>&nbsp;<a href="mailto:{{email}}">{{email}}</a>
    </p>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6">
      <div class="footer-block" id="social-media-links">
      <p>Follow Me</p>
      <span><a href="{{linkedin}}" target="_blank"><i class="fa fa-linkedin-square fa-2x" ></i></a></span> &nbsp;
      <span><a href="{{git}}" target="_blank"><i class="fa fa-github-square fa-2x" ></i></a></span> &nbsp;
      <span><a href="{{facebook}}" target="_blank"><i class="fa fa-facebook-square fa-2x" ></i></a></span> &nbsp;
      <span><a href="{{quora}}" target="_blank"><i class="fa fa-quora fa-2x" ></i></a></span> &nbsp;
      </div>
    </div>
</div>
</div>
<div id="credit-quote">
  
  DESTINY is not created by the SHOES we wear but by the STEPS we take
  
</div>
<div id="credit">Logos and background image used in this page have been downloaded from Google</div>
</footer>
