<section id="technology" class="container  text-center">
  <header>
    <h2>Skills</h2>
  </header>

  <section *ngIf="languages" id="language">    
    <header>
      <h3>Languages</h3>      
    </header>
    <div  class="row">
      <div *ngFor="let l of languages" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a href="{{l.link}}" target="_blank">
        <figure>
          <img src="assets/images/technology/{{l.logo}}" class="center-logo img img-responsive tech-logo" alt="{{l.title}}"> 
          <figcaption>{{l.title}}</figcaption>
        </figure>
        </a>
      </div>
    </div>   
  </section>

</section>

