#profile-pic{
    border-radius: 50%;
    height: 15em;
    width: 15em;    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.introductory-content{
    text-align: center;
}

#intro{
    background-color: #2b2921e3;
    color: white;
}

.letter-highlight{
    background-color:#403e37;
    color:white;
}