<section class="jumbotron project-background">
  <div class="container" *ngIf="myprojects" style="text-align: center">
    <header><h2 id="title">My Projects</h2></header>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mypanel" *ngFor = "let p of myprojects; index as i" >
          <div class="project" data-toggle="modal" [attr.data-target] = "generateId(i, '#')">
            <h3>{{p.title}}</h3>
            <p class="domain">{{p.domain}}</p>
            <p>
              <span *ngFor="let t of p.tech" >
              <span class="tech">{{t}}</span> &nbsp;
            </span>             
            </p>
          </div>
      </div>
    </div>
    
  </div>



<!-- Modal -->
<div id="modals" *ngFor = "let p of myprojects; index as i">
<div [id]="generateId(i, '')" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{p.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{p.description}}</p>
        <ul *ngIf="p.responsibilities">
          <li *ngFor="let r of p.responsibilities">{{r}}</li>          
        </ul>  
        <p style="text-align: center" *ngIf="p.tech">
          <span *ngFor="let t of p.tech">
            <span class="tech tech-lg"> {{t}}</span>&nbsp;           
          </span>          
        </p>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close-btn" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</section>