#title{
    color: yellow;
}

.project{
    height: 15em;
    border: 1px #b4b4c5;
    padding: 5px 10px;
    text-align: center;   
    background:white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-background{
    /* background-image: url("assets/images/bg/bench.jpg");*/
    /* background:#cfccff8c; */
    background: #dd1b16;
} 
.project:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.mypanel{
    padding: 10px 10px;
}

.tech{
    font-family: 'Courier New';
    font-style: italic;
    /* background-color: black; */
    background: #dd1b16;
    color: white;
    padding: 2px 2px;
    font-size: 50%;
}

.domain{
    color: #b4b4c5;
    font-size: 80%;
}

/* Desigining modal */

.modal-header{
    background: #dd1b16;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.close-btn{
    border: 1px solid #dd1b16;
    color: #dd1b16;
    background: inherit;
}

.close-btn:hover{
    /* border: 1px solid #dd1b16; */
    color: white;
    background: #dd1b16;
}

.modal-body ul{
    font-size: large;
    font-style: italic;
}

.tech-lg{
    font-size: medium;
}