<section id="knowMeMore" *ngIf="faq" class="container">
  
  <header><h3>&lt; <span id="title">Know Me More</span> /&gt;</h3></header>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" *ngFor="let q of faq; index as i">
          <div class="panel-heading faq-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq{{i}}">
              Q. {{q.question}}</a>
            </h4>
          </div>
          <div id="faq{{i}}" class="panel-collapse collapse">
            <div class="panel-body faq-answer">{{q.answer}}</div>
          </div>
        </div>
    </div>
</section>